<div class="container pt-4">
    <div class="card">
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Digite o número da linha" [(ngModel)]="linha">
                <button class="btn btn-success" (click)="consultarHorarios()">Consultar</button>
            </div>
            <div class="text-center mt-3" *ngIf="isLoading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
            <ng-container *ngFor="let sentidoKey of getObjectKeys(horarios)">
                <h3 class="text-center mt-4 p-2 fw-bold">{{ sentidoKey }}</h3>
                <ng-container *ngFor="let tipoDiaKey of getObjectKeys(horarios[sentidoKey]).sort(sortTiposDia)">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item text-center">
                            <h4 class="list-group-item mt-4">{{ formatarNomeDia(tipoDiaKey) }}</h4>
                            <div *ngFor="let horario of horarios[sentidoKey][tipoDiaKey]" class="badge bg-success m-1">
                                {{ horario.horario_largada }}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>