<div class="navbar bg-success" style="height: 4rem;">
    <div class="container">
        <a routerLink="/" routerLinkActive="active" style="text-decoration:none">
            <span class="fs-3 text-white fw-bold">
                <i class="fa-solid fa-bus"></i>
                Horários POA
            </span>
        </a>
        <div>
            <a routerLink="/bus-list" routerLinkActive="active">
                <button class="btn btn-success fw-bold fs-5">
                    <span class="fa fa-table-list me-2"></span>
                    <span>Lista de ônibus</span>
                </button>
            </a>
        </div>
    </div>
</div>