<div class="container pt-4">
    <ul class="list-group">
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga Nova Via Tristeza</div>
            <div class="fw-bold">110</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga Velha (Tristeza)</div>
            <div class="fw-bold">111</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Cohab</div>
            <div class="fw-bold">165</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Belem Novo(Via Tristeza)</div>
            <div class="fw-bold">168</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Jardim Das Palmeiras / Cel Massot</div>
            <div class="fw-bold">170</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Ponta Grossa</div>
            <div class="fw-bold">171</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Camaqua</div>
            <div class="fw-bold">173</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Serraria (Rodoviaria)</div>
            <div class="fw-bold">176</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Praia De Belas</div>
            <div class="fw-bold">178</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Serraria</div>
            <div class="fw-bold">179</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Juca Batista</div>
            <div class="fw-bold">184</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Assuncao</div>
            <div class="fw-bold">188</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Padre Réus/liberal</div>
            <div class="fw-bold">189</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">TV</div>
            <div class="fw-bold">195</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga</div>
            <div class="fw-bold">209</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga Nova</div>
            <div class="fw-bold">210</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga Velha</div>
            <div class="fw-bold">211</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga / Lami</div>
            <div class="fw-bold">212</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">5ª Unidade / Escolar</div>
            <div class="fw-bold">214</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Restinga Gloria</div>
            <div class="fw-bold">216</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Santa Teresa</div>
            <div class="fw-bold">244</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">1 De Maio</div>
            <div class="fw-bold">250</div>
        </li>
        <li class="list-group-item" style="display: inline-flex; justify-content: space-between;">
            <div class="fw-semibold">Alpes</div>
            <div class="fw-bold">251</div>
        </li>
    </ul>
    
</div>